.meme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: -10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2%;
    margin-bottom: 0.2%;
}

.input-boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1%;
    margin-bottom: 2%;
}

.input {
    font-family: karla;
    color: black;
    border-color: gray;
    border-radius: 10px;
    font-size: 24px;
    font-style: normal;
    height: 48px;
    width: 48.5%;
    padding-left: 6px;
}

.button {
    color: white;
    border: 1px solid black;
    width: 100%;
    background-image: linear-gradient(to right, #672280,#A626D3);
    font-family: karla;
    border-color: gray;
    border-radius: 10px;
    font-size: 20px;
    border: 0px;
    margin-bottom: 2%;
    height: 48px;
    font-style: bold;
    font-weight: 600;
}

.image-container {
    display: flex;
    width: 70%;
    height: 500px;
    position: relative;
}

.meme-image {
    display: flex;
    width: 100%;
    min-height: 580px;
    border-radius: 10px;
}

.position-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.top-text {
    color: white;
    font-family: Poppins;
    font-style: Regular;
    font-size: 45px;
    Line-height: 100%;
    font-weight: 600;
    text-shadow:
        -1px 2px 0px black,
        1px 2px 0px black,
        2px -1px 0px black,
        2px 1px 0px black;
}

@media screen and (max-width:824px) {
    .top-text{
        font-size: 36px;
    }
    .input {
        font-size: 18px;
    }
    .button{
        font-size: 18px;
    }
}