.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, #672280,#A626D3);
    padding: 2%;
    height: 8vh;
    padding-left: 3%;
    padding-right: 3%;
}

.header-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 80px;
    margin-right: 10px;
}

.logo-heading {
    font-family: Karla;
    font-style: Bold;
    font-size: 42px;
    Vertical-align: Top;
    Letter-spacing: -10%;
    color: white;
}

.course-heading {
    font-family: Inter;
    font-style: medium;
    font-size: 24px;
    Vertical-align: Top;
    Letter-spacing: -10%;
    color: white;
}

@media screen and (max-width:824px) {
    .course-heading{
        font-size: 20px;
    }
    .logo-heading{
        font-size: 30px;
    }
    .logo{
        height: 60px;
    }
}